{% extends 'app/base.html' %}
{% block content %}
    <h1>{{image.title}}</h1>
    <p>{{image.pub_date}}</p>
    <img src="{{ image.url }}" alt="">
    <p>{{image.description}}</p>
    <hr>
    {% if error_message %}
    <p>{{error_message}}</p>
    {%endif%}
    <div>
        {% for comment in comments %}
            <p><strong>{{comment.author}}</strong></p>
            <p>{{comment.text}}</p>
        {%endfor%}
    </div>
    <hr>
    <div>
        <form action="{% url 'app:comment' image.id" method="POST" class="border">
            {%csrf_token%}
            <label for="author">Author</label>
            <input type="text" name="authour", id="author">
            <label for="comment">Comment text</label>
            <textarea name="comment" id="comment" cols="50" rows=4></textarea>
            <input type="submit" value="Comment">
        </form>
    </div>
{% endblock %}